body {
  font-family: "Righteous", cursive;
  background-color: #e2faff38;
}

h1,
small,
.time-date,
.description-block {
  color: #214851;
}

h1 {
  font-size: 44px;
  font-weight: 100;
  line-height: 48px;
  margin-bottom: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

small {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.description {
  font-size: 20px;
  font-weight: 400;
}

.weather-app {
  margin: 30px auto;
  padding: 10px;
}

.time-date {
  text-align: center;
}

.temperature {
  font-size: 30px;
  line-height: 1;
  font-weight: bolder;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.weather-forecast h3 {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 14px;
  line-height: 15px;
  padding-top: 30px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 96px;
  width: 96px;
}

.weather-forecast-temperature {
  text-align: center;
  color: gray;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 13px;
  white-space: nowrap;
}

.search-button {
  box-shadow: none;
  color: gray;
  background-color: white;
}

.input-group {
  margin: 0 auto;
}

.form-control {
  border-radius: 2.25rem;
}

.btn {
  border-radius: 2.25rem;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: rgb(62, 134, 216);
  color: white;
}

.form-control:focus {
  box-shadow: none;
}
